{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "airbnb-base"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint/eslint-plugin"
    ],
    "rules": {
        "import/no-unresolved": "off",
        "no-param-reassign": [ "warn", {
            "props": false
        } ],
        "max-len": [ "warn", {
            "code": 150,
            "ignoreUrls": true,
            "ignoreComments": true,
            "ignoreTrailingComments": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
        } ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [ "warn", {
            "args": "none"
        } ]
    },
    "env": {
        "node": true
    },
    "globals": {
        "assert": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".ts"
                ]
            }
        }
    }
}